# Primeiros Exemplos

In [6]:
print("primeiro progama")
1 \
+ 2

help(print)

primeiro progama
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
1 + 2 + 3
4 + 5 + 6

6

In [9]:
print (1 + 2 + 3)
print (4 + 5 + 6)

6
15

# Tipos básicos

In [4]:
print(True)
print(False)
print(1.2 + 1)
print('aqui eu falo na minha lingua!')
print("tb funciona.")
print('Você é ' + 3 * 'muito ' + 'legal')
#print(3 + '3') Ambiguidade
print ([1, 2, 3])
print({'nome': 'pedro', 'idade':22 })
print (None)

True
False
2.2
aqui eu falo na minha lingua!
tb funciona.
Você é muito muito muito legal
[1, 2, 3]
{'nome': 'pedro', 'idade': 22}
None

# Variaveis

In [8]:
a = 10
b = 5.2

print(a + b)

a = 'agora sou um string! '
print (a)
a
b

15.2
agora sou um string!

5.2

# Comentarios

In [10]:
#aaaaaaaaaaaaaaaa
#AAAAAAAAAAAAAAA
salario = 3450.45
despesas = 2456.2 
""""
a ideia e calcular o quanto
vai sobrar no
final do mes"
"""
print(salario - despesas)

print('fim') # comentario aqui tb vale

994.25
fim

# Operadores Aritméticos

In [12]:
print(2+3)
print(4-7)
print(2*5.3)
print(9.4/3)
print(9.4//3)
print(2**8)
print(10%3)
a=12
b=a
print(a+b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

# Desafio1

In [19]:
salario = 3450.45
despesas = 2456.2 

Porcentagem = ((despesas - salario) / salario * 100)

print('Temos atualmente ')
print (Porcentagem)
print('% do salario livre')

Temos atualmente
-28.81508209074179
% do salario comprometido

# Operadores relacionais

In [22]:
print (3 > 4)
print (4 >= 3)
print (1 < 2)
print (3 <= 1)
print (3 != 2)
print (3 == 3)
print (2 =='2')

False
True
True
False
True
True
False

# Operação de atribuição

In [24]:
a = 3
a = a + 7
print(a)

# a = 5
a += 5 #a = a + 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 255
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [8]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
False and False
False and True
False and False
True and True and False and True and True and True

# tabela verdade do OR
True or True
True or False
False or True
False or False
False or False or True or False or False or False

# tabela verdade do XOR
True != True
True != False
False != True
False != False

# Operador de Negação (unário)
not True
not False

not 0
not 1
not -1
not not -1
not not True

# Cuidado!!!
True & False
False | True
True ^ False

# Um pouco de realidade 

saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >=0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

True

# Desafio Operadores Lógicos

In [11]:
trabalho_terca = True
trabalho_quinta = True

TV50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta
mais_saudavel = not sorvete

print("tv50={} tv32={} sorvete={} saudavel={}" . format(TV50, tv_32, sorvete, mais_saudavel) )

tv50=True tv32=False sorvete=True saudavel=False

# Operadores ternarios

In [13]:
esta_chovendo = False

print('hoje estou com as roupas ' + ('molhadas.' if esta_chovendo else 'secas'))

hoje estou com as roupas secas